@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Rubik&display=swap");
* {
  color: white;
}

.header {
  font-size: 12px;
  font-weight: bold;
}
.header #navItem:hover {
  color: #b9b9b9;
}

.container00 {
  min-height: 120vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}

.arrowDown {
  display: inline-block;
  width: 90px;
  margin-top: 5px;
}

.logoPc {
  width: 240px;
  margin-left: -10px;
  margin-right: 30px;
}

#button {
  padding: 15px 35px;
  border: 2px solid white;
}

.footer {
  background-color: black;
  height: 15vh;
  font-size: 15px;
  font-weight: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: #b9b9b9;
}
.footer .copyOBC {
  color: #555252;
}

.downloadDesc {
  background-color: black;
  height: 85vh;
  padding-top: 350px;
}
.downloadDesc a {
  text-decoration: none;
  color: #555252;
}
.downloadDesc a:hover {
  color: #b9b9b9;
}
.downloadDesc button {
  border: 2px solid white;
  margin-right: 10px;
}

.emailObc {
  text-decoration: none;
  color: #555252;
}
.emailObc:hover {
  color: #b9b9b9;
}

@media (max-width: 405px) {
  .logoPc {
    width: 180px;
    margin-top: 15px;
  }
}
@media (max-width: 350px) {
  .logoPc {
    width: 150px;
    margin-top: 15px;
  }
}
@media (max-width: 449px) {
  .downloadDesc button {
    margin: 10px 0px;
  }
  .footer {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.container00.container01 {
  background-image: url(../../images/home/01.jpg);
}
.container00.container02 {
  background-image: url(../../images/home/03.jpg);
}
.container00.container03 {
  background-image: url(../../images/home/02.gif);
}
.container00.container04 {
  background-image: url(../../images/home/04.jpg);
}

.titlePadding {
  padding-top: 350px;
}

.shortTitle {
  width: 500px;
  margin-bottom: 25px;
}

.meddiumTitle {
  width: 600px;
  margin-bottom: 25px;
}

@media (max-width: 750px) {
  .titlePadding {
    padding-top: 120px;
  }
  .shortTitle, .meddiumTitle {
    width: auto;
    font-size: 50px;
  }
}
@media (max-width: 380px) {
  .shortTitle, .meddiumTitle {
    width: auto;
    font-size: 40px;
  }
}
.container00.container05 {
  background-image: url(../../images/falcon9/01.jpg);
}
.container00.carrossel01 {
  background-image: url(../../images/falcon9/03.jpg);
}
.container00.carrossel02 {
  background-image: url(../../images/falcon9/04.jpg);
}
.container00.carrossel03 {
  background-image: url(../../images/falcon9/05.jpg);
}
.container00.carrossel04 {
  background-image: url(../../images/falcon9/06.jpg);
}
.container00.carrossel05 {
  background-image: url(../../images/falcon9/07.jpg);
}
.container00.container06 {
  background-image: url(../../images/falcon9/02.jpg);
}
.container00.container07 {
  background-image: url(../../images/falcon9/08.jpg);
}

.titleFalcon9 {
  font-size: 90px;
  font-family: "Rubik", sans-serif;
  font-weight: 514;
}

.titleContent {
  display: flex;
  flex-direction: column;
  margin-top: 140px;
  height: 80vh;
}

.numbers {
  background-color: black;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleNumb {
  font-size: 90px;
}

.subTitleNumb {
  font-size: 20px;
}

.falcon9Desc {
  font-size: 22px;
  width: 640px;
  line-height: 50px;
}

.containerFalcon9Desc {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-content: left;
}

#OverViewPosition {
  width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}

.carrosselSlide .img {
  height: 100vh;
}

.carousselText {
  background-color: black;
}

@media (max-width: 768px) {
  .numbers .titleNumb {
    font-size: 70px;
  }
  .numbers .subTitleNumb {
    font-size: 18px;
  }
  #overViewPosition {
    padding-top: 35%;
  }
  .falcon9Desc {
    width: auto;
  }
}
@media (max-width: 575px) {
  .numbers {
    background-color: black;
    height: 60vh;
  }
  #OverViewPosition {
    width: auto;
    margin-left: auto;
  }
}
@media (max-width: 375px) {
  .titleFalcon9 {
    font-size: 50px;
  }
  .subTitleFalcon {
    font-size: 16px;
  }
  .falcon9Desc {
    font-size: 18px;
    line-height: auto;
  }
}
.container00.container08 {
  background-image: url(../../images/humanFlight/01.jpg);
}
.container00.container09 {
  background-image: url(../../images/humanFlight/02.jpg);
}
.container00.container10 {
  background-image: url(../../images/humanFlight/03.jpg);
}
.container00.container11 {
  background-image: url(../../images/humanFlight/04.jpg);
}
.container00.container12 {
  background-image: url(../../images/humanFlight/05.jpg);
}

.container01Contant {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleHuman {
  font-size: 120px;
}

.subTitleHuman {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 300px;
}

.earthDesc {
  background-color: black;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textEarthDesc {
  color: #d8d8d8;
  font-weight: 400px;
  font-size: 20px;
  width: 800px;
}

.containerRightContent {
  margin-left: 55%;
  padding-top: 15%;
}

.titleSection {
  font-size: 60px;
  font-weight: bold;
}

.subTitle {
  font-weight: 300PX;
  margin-bottom: 40px;
}

.containerLeftContent {
  margin-left: 5%;
  padding-top: 15%;
}

@media (max-width: 768px) {
  .titleHuman {
    font-size: 90px;
  }
  img {
    width: 150px;
  }
  .containerRightContent {
    margin-left: 15%;
  }
  .containerLeftContent {
    margin-left: 25%;
    padding-top: 15%;
  }
  .textEarthDesc {
    color: #d8d8d8;
    font-weight: 400px;
    font-size: 18px;
    width: auto;
  }
}
@media (max-width: 610px) {
  .titleHuman {
    font-size: 60px;
  }
  .subTitleHuman {
    font-size: 24px;
  }
  .containerRightContent {
    margin-left: 5%;
  }
  .containerLeftContent {
    margin: 5%;
  }
  .titleSection {
    font-size: 50px;
  }
}
@media (max-width: 433px) {
  img {
    width: 100px;
  }
  .titleHuman {
    font-size: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
